# PenguinCAM Team Configuration
# This file defines machine-specific settings and machining preferences
#
# All values are optional - any missing values will use Team 6238 defaults.
# You only need to specify values you want to override.

# Example: Another team with an Omio X-8 with Mach3 would only need to override:
# team:
#   number: 1234
#   name: "Your Team Name"
# machine:
#   name: "Omio X-8"
#   controller: "Mach3"
#   park_position:
#     x: 1.0
#     y: 30.0

# See full template with all options below:

team:
  number: 6238
  name: "Popcorn Penguins"

machine:
  name: "Avid CNC Pro4896"
  manufacturer: "Avid CNC"
  controller: "Mach4"
  dimensions:
    x_max: 48.0
    y_max: 96.0
    z_max: 8.0
  park_position:
    x: 0.5
    y: 23.5
  coolant: "Air"

machining:
  z_reference:
    sacrifice_board_depth: 0.008
    safe_height: 1.5
    clearance_height: 0.5
  tabs:
    width: 0.25
    height: 0.1
    spacing: 6.0
  holes:
    detection_tolerance: 0.02
    min_millable_multiplier: 1.2
  default_tool:
    diameter: 0.157

integrations:
  google_drive:
    enabled: true
    folder_id: "YOUR_FOLDER_ID_HERE"
